*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}


body .tabUI {
    margin: 0 auto;
    max-width: 1220px;
    
}
header{
    height: 90px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1040;
    background: rgba(255, 252, 252, 0.9);
    position: fixed;
    top: 0;
    background:transparent;
}

label a.logo{
    font-size:35px;
    font-weight: 700;
    color: antiquewhite;
    padding-left: 100px;
    line-height: 80px;
    text-decoration: none;
}
header .navbar{
    float: right;
    margin-right: 40px;
    display: block;
}
header .navbar li{
    display: inline-block;
    margin: -5px 5px;
    line-height: 80px;
}
header .navbar li a{
    color: antiquewhite;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 12px;
}
header .navbar li a.active,
header .navbar li a:hover{
    border: 1px solid #fff;
    background: #fff;
    color:black;
    border-radius: 5px;
    transition: .5s ease-in-out ;
}
header .icon{
    color: antiquewhite;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 40px;
    line-height: 80px;
    float: right;
    display: none;
}
.once_pleace_header{
    position: relative;
    top: -90px;
    background: url(../img/rc.jpg) no-repeat;
    background-color: #34495e;
    background-size: cover;
    height: 140vh;
    overflow: hidden;
}
.text_tile_content{
    position: relative;
    top: 50%;
    left: 10%;
}
.text_title{
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    color: white;
}
.btn_title{
    margin: 50px 50px;
    width: 200px;
    height: 50px;
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    transition: .5s;
}
.btn_title:hover{
    
    background-color: brown;
    color: white;
    border-radius: 5px;
}
.home_selector{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background: #eeecea;
    position: relative;
    top: -90px;
    transition: .9s;
}
.home_selector:hover{
   background: #34495e;
} 

.title_selector, .btnLeft_selector{
    display: flex;
    justify-self: center;
    align-items: center;
}
.title_selector_product{
    font-weight: 700;
    font-size: 3rem;
    color: burlywood;
}
.btnLeft_selector i,
.btnLeft_selector_stone i{
    font-size: 5rem;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
 /* ẩn hình ảnh cho phần tử slideshow */
  .mySlides {
    display: none;
  }
 /* thiết kế nút mũi tên*/
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
 /* thiết kế nút mũi tên next nằm phía bên phải */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
 /* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
 /* Thiết lập style cho nội dung của mỗi phần tử slideshow */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50%;
    width: 40%;
    text-align: center;
    top: 93%;
    left: 58%;
    border: 1px solid;
    background: #2f3640;
    height: 6%;
    border-radius:10px ;
  }
 /* Thiết lập style cho số hiển thị của phần tử */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
 @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
 @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



/**/
.tabs {
    display: flex;
    position: relative;
  }
  .tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
  }
  .tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
  }
  .tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
  }
  .tab-item.active {
    opacity: 1;
  }
  .tab-content {
    padding: 28px 0;
  }
  .tab-pane {
    color: #333;
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
  .tab-content .tab-pane .img-tab-pane img{
      border: 2px solid #fff;
      border-radius: 5px;
  }


@media (max-width:1048px) {
    label a.logo{
        font-size:25px;
        font-weight: 700;
        color: antiquewhite;
        padding: 0 20px;
        margin:15px 60px;
    }
    header ul{
        margin-right: 20px;
    }
    header .navbar li a{
        font-size: 1rem;
    }
    .tab-content .tab-pane .img-tab-pane img{
        width: 32%;
        margin-left: 6px;
    }
   
    .tab-item {
        min-width: 80px;
        padding: 16px 20px 11px 20px;
        font-size: 20px;
        margin: 0 auto;
      }
}

@media (max-width:985px) {
    header label.icon{
        display: inline-block;
    }
    header .navbar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        top: 80px;
        left: 0;
        text-align: center;
        left: -100%;
        transition: all .5s;
    }
    header .navbar li{
        display: block;
    }
    header ul.show{
        left: 0;
    }

    .text_title{
        font-size: 2.7rem;
    }
    .home_selector{
        grid-template-columns: auto;
    }
    .title_selector_product{
        font-weight: 700;
        font-size: 3rem;
    }
    .btnLeft_selector i{
        font-size: 5rem;
    }
    .avata_selector img{
        width: 500px;
        margin-left: 200px;
    }
    .text {
        width: 50%;
        top: 80%;
        left: 20%;
        height: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
@media (max-width:740px) {
    .text_title{
        font-size: 2.2rem;
    }
    .home_selector{
        grid-template-columns: auto;
    }
    .title_selector_product{
        font-weight: 600;
        font-size: 3rem;
    }
    .btnLeft_selector i{
        font-size: 5rem;
    }
    .avata_selector img{
        width: 400px;
        margin-left: 170px;
    }
    .tab-content .tab-pane .img-tab-pane img{
        width: 70%;
        margin: 0 auto;
        display: flex;
    }
    .tab-item {
        min-width: 80px;
        padding: 16px 20px 11px 20px;
        font-size: 20px;
        margin: 0 auto;
      }
      .text {
        font-size: 10px;
        padding: 8px 12px;
        width: 71%;
        top: 80%;
        left: 20%;
        border: 1px solid;
        height: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
@media (max-width:418px) {
    header label.icon{
        display: inline-block;
        font-size: 20px;
    }
    label a.logo{
        font-size:15px;
        font-weight: 700;
        padding: 0 5px;
        line-height: 80px;
    }
    .text_title{
        font-size: 2.9rem;
    }
    .home_selector{
        grid-template-columns: auto;
    }
    .title_selector_product{
        font-weight: 500;
        font-size: 2rem;
    }
    .btnLeft_selector i{
        font-size: 3rem;
    }
    .avata_selector img{
        width: 250px;
        margin-left: 50px;
    }
    .tab-content .tab-pane .img-tab-pane img{
        width: 100%;
    }
    .tab-item {
        min-width: 50px;
        padding: 12px 15px 6px 15px;
        font-size: 15px;
        margin: 0 auto;
      }
      .text {
        font-size: 10px;
        padding: 8px 12px;
        width: 50%;
        top: 80%;
        left: 20%;
        border: 1px solid;
        height: 16%;
        justify-content: center;
        display: flex;
        align-items: center;
      }
}